<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_panel</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="shortcut icon" href="/static/images/galaxy-s25-ultra-features-privacy.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo">Welcome to AdminPanel</div>
        <nav>
            <ul>
                <a href="/">
                    <p id="headhome">Home</p>
                </a>
                <li>
                    <a href="/about_us">
                        <p>About us</p>
                    </a>
                </li>
                <li>
                    <p id="menubtn">Menu</p>
                </li>
                <li>
                    <a href="/news">
                        <p id="news">News</p>
                    </a>
                </li>
                <li class="btn" id="logbtn"><a href="/profile/login">Login</a></li>
                <li class="btnp" id="profilebtn">
                    <div class="pr" id="profiletext" onclick="openProfile()">Profile</div>
                </li>
            </ul>
        </nav>
    </header>
    <div id="menu">
        <h1>MENU</h1>
        <div class="category">
            <div class="line" id="mobileP">
                <p>mobiles</p> <span>→</span>
            </div>
            <a href="/samsung/phone">
                <div class="lineM" id="mobsamsung">
                    samsung
                </div>
            </a>
            <a href="/apple/phone">
                <div class="lineM" id="mobapple">
                    apple
                </div>
            </a>
            <div class="line" id="tabletP">
                <p>tablets</p> <span> →</span>
            </div>
            <a href="/samsung/tablet">
                <div class="lineT" id="tabsamsung">
                    samsung
                </div>
            </a>
            <a href="/apple/tablet">
                <div class="lineT" id="tabapple">
                    apple
                </div>
            </a>
            <div class="line" id="computersP">
                <p>computers</p> <span>→</span>
            </div>
            <a href="/samsung/notebook">
                <div class="lineC" id="comsamsung">
                    samsung
                </div>
            </a>
            <a href="/apple/notebook">
                <div class="lineC" id="comapple">
                    apple
                </div>
            </a>
        </div>
    </div>
    <div class="body" id="body">
        <div class="center" id="center">
            {% if context.error %}
            <h1 style="text-align: center;">{{context.error}}</h1>
            {% endif %} {% if context.orders %} {% for item in context.orders %}
            <table class="tableorders">
                <h1>Заказы:</h1>
                <thead>
                    <tr>
                        <th>Заказ</th>
                        <th>Value</th>
                        <th><button id="ordbtn">▼</button></th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td>Name</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ item.email }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ item.city }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ item.address }}</td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td>{{ item.number }}</td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td>{{ item.mess }}</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>{{ item.product_name }}</td>
                    </tr>
                    <tr>
                        <td>Total Price</td>
                        <td>{{ item.total_price }} $</td>
                    </tr>
                    <tr>
                        <td>Added_date:</td>
                        <td>{{ item.added_date.strftime('%Y-%m-%d %H:%M') if item.added_date else 'Неизвестно' }}</td>
                    </tr>
                    <tr>
                        <td>Одобрить</td>
                        <td></td>
                        <td><button data-order-id="{{ item.order_id }}">OK</button></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %} {% else %}
            <div class="ordersnone">
                <p id="error">{{ context.error1 }}</p>
            </div>
            {% endif %} {% if context.messages %} {% for userinfo in context.messages %}
            <table class="tableorders">
                <h1>Письма:</h1>
                <thead>
                    <tr>
                        <th>Письмо</th>
                        <th>Value</th>
                        <th><button id="ordbtn">▼</button></th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td>Name</td>
                        <td>{{ userinfo.name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ userinfo.email }}</td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td>{{ userinfo.number }}</td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td>{{ userinfo.textmessage }}</td>
                    </tr>
                    <tr>
                        <td>Added_date:</td>
                        <td>{{ userinfo.added_date.strftime('%Y-%m-%d %H:%M') if userinfo.added_date else 'Неизвестно' }}</td>
                    </tr>
                    <tr>
                        <td>Прочитано</td>
                        <td></td>
                        <td><button data-message-id="{{ userinfo.id }}">OK</button></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %} {% else %}
            <div class="ordersnone">
                <p>Писем нету</p>
            </div>
            {% endif %}
        </div>
        <div class="news_con" id="news_con">
            <h1>Панель добавления новости</h1>
            <form action="/admin/add_news/?size={{ context.size }}" method="post" id="news_form" enctype="multipart/form-data">
                <h3>size: {{ context.size }}</h3>
                <div class="group">
                    <input type="text" required name="title" title="введите название новости">
                    <label for="title">title</label>
                </div>
                <div class="group">
                    <textarea name="text" title="Введите информацию/новость" id="textarea"></textarea>
                    <label for="title">text</label>
                </div>
                <div class="group">
                    <input type="file" name="img_url" required class="hiddenInputFile">
                    <label class="labelbtn">Выбрать фото</label>
                </div>
                <button class="submit-btn" onclick="alert('Новость была добавлена')" type="submit">Отправить</button>
            </form>
        </div>
        <div class="right">
            <div class="questions">
                <a href="/samsung/phone/add_new">1. Добавить новый телефон Samsung</a>
                <a href="/samsung/tablet/add_new">2. Добавить новый планшет Samsung</a>
                <a href="/samsung/notebook/add_new">3. Добавить новый ноутбук Samsung</a>
                <a href="/apple/phone/add_new">4. Добавить новый телефон Apple</a>
                <a href="/apple/tablet/add_new">5. Добавить новый планшет Apple</a>
                <a href="/apple/notebook/add_new">6. Добавить новый ноутбук Apple</a>
                <a href="/admin/add_news/?size=big">7.Добавить новость size: big</a>
                <a href="/admin/add_news/?size=medium">8.Добавить новость size: medium</a>
                <a href="/admin/add_news/?size=small">9.Добавить новость size: small</a>
            </div>
        </div>
    </div>
    <div class="cn samsung_phone_addnew" id="samsung_phone_addnew">
        <div class="wrapper add">
            <a class="back" href="/admin">←</a>
            <form action="/samsung/phone/add_new" method="post" enctype="multipart/form-data" id="addsamsungphone">
                <h1>Samsung info:</h1>
                <div class="maininput">
                    <div class="group">
                        <input type="text" name="name" required title="Введите имя смартфона">
                        <label>Название</label>
                    </div>
                    <div class="group">
                        <input type="number" name="price" required title="Введите цену">
                        <label>Цена</label>
                    </div>
                    <div class="group_img">
                        <input type="file" name="img_url" required>
                        <label>img</label>
                    </div>
                </div>
                <span id="chinput">open more info</span>
                <div class="charactersinput" id="cheinput">
                    <div class="group">
                        <input type="text" name="description" required title="Введите описание смартфона">
                        <label>Описание</label>
                    </div>
                    <div class="group">
                        <input type="text" name="procesor" required title="Введите название процессора">
                        <label>Название процессора</label>
                    </div>
                    <div class="group">
                        <input type="number" name="batarey" required title="Введите емкость аккомулятора">
                        <label>Емкость батареи</label>
                    </div>
                    <div class="group">
                        <input type="number" name="ram" required title="Введите память ОЗУ">
                        <label>Память ОЗУ</label>
                    </div>
                    <div class="group">
                        <input type="number" name="rom" required title="Введите память телефона">
                        <label>Память телефона</label>
                    </div>
                    <div class="group">
                        <input type="text" name="display" required title="Введите название дисплея">
                        <label>Дисплей</label>
                    </div>
                    <div class="group">
                        <input type="text" name="camera" required title="Введите данные камеры">
                        <label>Камера</label>
                    </div>
                    <div class="group">
                        <input type="number" name="count" required title="Введите количество товара">
                        <label>Количесвто</label>
                    </div>
                </div>
                <button class="submit-btn" type="submit" onclick="mobile_added_info()">добавить</button>
            </form>
            <div id="mobile_update">
                <div class="charact" id="charact">
                    <h1>Mobile added</h1>
                    <img src="{{context.img_url}}" alt="samsung sfold6">
                    <div class="info">
                        <h3>{{context.name}}</h3>
                        <span>price:</span>
                        <p>{{context.price}}$</p>
                    </div>
                    <div class="opisanie">
                        <span>description:</span>
                        <p>{{context.description}}</p>
                    </div>
                    <div class="infomodel">
                        <span> Процессор:</span>
                        <p> {{context.processor}}</p>
                        <span>Емкость аккумулятора:</span>
                        <p> {{context.battery}} мАч</p>
                        <span>Память ОЗУ:</span>
                        <p> {{context.ram}} GB</p>
                        <span>Память ROM:</span>
                        <p> {{context.rom}} GB</p>
                        <span>Дисплей:</span>
                        <p>{{context.display}} 1440 x 3120</p>
                        <span>Камера:</span>
                        <p> {{context.camera}}</p>
                        <span>Количесвто:</span>
                        <p> {{context.count}}</p>
                    </div>
                    <a href="/admin">
                        <div class="buttonOk">
                            Ok
                        </div>
                    </a>
                </div>
                <div id="mobile_in_db">
                    <h1>Такой телефон уже был добавлен</h1>
                    <a href="/admin">
                        <div class="buttonOk">
                            Ok
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cn samsung_tablet_addnew" id="samsung_tablet_addnew">
            <a class="back" href="/admin">←</a>
            <div class="wrapper">
                <p>в разработке tablet</p>
            </div>
        </div>
        <div class="cn samsung_notebook_addnew" id="samsung_notebook_addnew">
            <a class="back" href="/admin">←</a>
            <div class="wrapper">
                <p>в разработке notebook</p>
            </div>
        </div>
        <button id="scrollToTop" title="Наверх">↑</button>
    </div>
    <footer>
        <div class="end">
            <nav class="navsa">
                <span>samsung</span>
                <a href="#">News</a>
                <a href="/samsung/phone/?page=1">Phones</a>
                <a href="/samsung/tablet">Tablets</a>
                <a href="/samsung/notebook">Computers</a>
            </nav>
            <div class="nava">
                <p>
                    © 2025 All Rights Reserved
                </p>
                <a href="/">Обратная связь</a>
            </div>
            <nav class="navsa">
                <span>apple</span>
                <a href="#">News</a>
                <a href="/apple/phone">Phones</a>
                <a href="/apple/tablet">Tablets</a>
                <a href="/apple/notebook">Computers</a>
            </nav>
        </div>
    </footer>
    <div id="message">{{context.message}}</div>
    <div id="page">{{context.page}}</div>
</body>

<script src="/static/js/menu.js"></script>
<script>
    var message = document.getElementById("message").textContent
    let news_con = document.getElementById("news_con")
    let center = document.getElementById("center")
    if (message == "add_big_news") {
        console.log("adminconsole", message)
        news_con.style.display = "block"
        center.style.display = "none"
    }


    document.addEventListener('DOMContentLoaded', function() {
        const toggleButtons = document.querySelectorAll('#ordbtn');
        const okButtons = document.querySelectorAll('td button');

        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                const table = this.closest('.tableorders');
                if (table) {
                    const tbody = table.querySelector('.tbody');
                    if (tbody) {
                        if (tbody.style.display === 'none' || tbody.style.display === '') {
                            tbody.style.display = 'table-row-group';
                            this.textContent = '▲';
                        } else {
                            tbody.style.display = 'none';
                            this.textContent = '▼';
                        }
                    }
                }
            });
        });
        okButtons.forEach(button => {
            button.addEventListener('click', function() {
                const table = this.closest('.tableorders');
                if (table) {
                    const orderId = this.dataset.orderId;
                    const messageId = this.dataset.messageId;
                    if (orderId) {
                        const url = `/admin/order/shipped/?id=${orderId}`;

                        fetch(url)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(`HTTP error! status: ${response.status}`);
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Заказ успешно отправлен:', data);
                                alert(`Заказ ${orderId} успешно помечен как отправленный!`);
                                table.style.display = "none"
                                this.closest('tr').remove();
                            })
                            .catch(error => {
                                console.error('Ошибка при отправке заказа:', error);
                                alert('Произошла ошибка при отправке заказа.');
                            });
                    } else if (messageId) {
                        const url = `/admin/message/ok/?id=${messageId}`;

                        fetch(url)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(`HTTP error! status: ${response.status}`);
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Письмо прочитано вами');
                                alert(`Письмо ${messageId} успешно помечено как прочитанный!`);
                                table.style.display = "none"
                                this.closest('tr').remove();
                            })
                            .catch(error => {
                                console.error('Ошибка при отправке запроса:', error);
                                alert('Произошла ошибка при отправке запроса.');
                            })

                    } else {
                        console.warn('ID не найден для этой кнопки.');
                        alert('Не удалось определить ID заказа.');
                    }
                }
            });
        });
    });
</script>

</html>