<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="shortcut icon" href="/static/images/galaxy-s25-ultra-features-privacy.jpg" type="image/x-icon">
    <title>home</title>
</head>

<body>
    <header>
        <div class="logo">WELCOME &#9829 &#9733</div>
        <nav>
            <ul>
                <a href="/">
                    <p id="headhome">Home</p>
                </a>
                <li>
                    <a href="/about_us">
                        <p>About us</p>
                    </a>
                </li>
                <li>
                    <p id="menubtn">Menu</p>
                </li>
                <li>
                    <a href="#">
                        <p>News</p>
                    </a>
                </li>
                <li class="btn" id="logbtn"><a href="/profile/login">Login</a></li>
                <li class="btnp" id="profilebtn">
                    <div class="pr" id="profiletext" onclick="openProfile()">Profile</div>
                </li>
            </ul>
        </nav>
    </header>
    <div id="menu">
        <h1>MENU</h1>
        <div class="category">
            <div class="line" id="mobileP">
                <p>mobiles</p> <span>→</span>
            </div>
            <a href="/samsung/phone/?page=1">
                <div class="lineM" id="mobsamsung">
                    samsung
                </div>
            </a>
            <a href="/apple/phone">
                <div class="lineM" id="mobapple">
                    apple
                </div>
            </a>
            <div class="line" id="tabletP">
                <p>tablets</p> <span> →</span>
            </div>
            <a href="/samsung/tablet">
                <div class="lineT" id="tabsamsung">
                    samsung
                </div>
            </a>
            <a href="/apple/tablet">
                <div class="lineT" id="tabapple">
                    apple
                </div>
            </a>
            <div class="line" id="computersP">
                <p>computers</p> <span>→</span>
            </div>
            <a href="/samsung/notebook">
                <div class="lineC" id="comsamsung">
                    samsung
                </div>
            </a>
            <a href="/apple/notebook">
                <div class="lineC" id="comapple">
                    apple
                </div>
            </a>
        </div>
    </div>
    <div class="body" id="body">
        <div class="home1" id="home1">
            <div class="wlcm-container">
                <h1 class="wlcm">SAMSUNG</h1>
            </div>
        </div>
        <div class="container">
            <div class="mob">
                <div class="samsung">
                    <img src="/static/images/sa06.jpg" alt="samsung a06" width="200px" height="200px">
                    <div class="info">
                        <p>Samsung A06</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="samsung">
                    <img src="/static/images/sa16.jpg" alt="samsung a16" width="200px" height="200px">
                    <div class="info">
                        <p>Samsung A16</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="samsung">
                    <img src="/static/images/samsung s21.jpg" alt="samsung a16" width="200px" height="200px">
                    <div class="info">
                        <p>Samsung S21</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="more">
                    <a href="/samsung/phone/?page=1">Узнать больше</a>
                </div>
            </div>
        </div>

        <div class="home12" id="home12">
            <div class="wlcm-container">
                <h1 class="wlcm">Galaxy Tabs</h1>
            </div>
        </div>
        <div class="container">
            <div class="mob">
                <div class="samsung">
                    <img src="/static/images/tablet/Samsung Galaxy Tab S10 Ultra LTE.jpg" alt="samsung tab S10" width="200px" height="160px">
                    <div class="info">
                        <p>Galaxy Tab S10 Ultra</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="samsung">
                    <img src="/static/images/tablet/Samsung Galaxy Tab S10.jpg" alt="samsung a16" width="200px" height="160px">
                    <div class="info">
                        <p>Galaxy Tab S10 Ultra</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="samsung">
                    <img src="/static/images/tablet/Samsung Galaxy Tab S10 Ultra.jpg" alt="samsung a16" width="200px" height="160px">
                    <div class="info">
                        <p>Galaxy Tab S10 +</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="more">
                    <a href="/samsung/tablet">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="home13" id="home13">
            <div class="wlcm-container">
                <h1 class="wlcm">GalaxyBooks</h1>
            </div>
        </div>
        <div class="container">
            <div class="mob">
                <div class="samsung notebook">
                    <img src="/static/images/notebook/Samsung Galaxy Book2 Pro 15.6 i5 8ГБ 512ГБ 1.jpg" alt="samsung notebook" width="250px" height="200px">
                    <div class="info">
                        <p>Samsung Galaxy Book2 Pro</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="samsung notebook">
                    <img src="/static/images/notebook/Samsung Galaxy Book4 Pro 16 Ultra 7 32ГБ 1ТБ 1.jpg" alt="samsung notebook" width="250px" height="200px">
                    <div class="info">
                        <p>Samsung Galaxy Book4 Pro 16 Ultra</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="samsung notebook">
                    <img src="/static/images/notebook/Samsung Galaxy Book5 Pro 360 16 Ultra 7 32ГБ 1ТБ 1.jpg" alt="samsung notebook" width="250px" height="200px">
                    <div class="info">
                        <p>Samsung Galaxy Book5 Pro</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="more">
                    <a href="/samsung/notebook">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="home2" id="home2">
            <div class="wlcm-container">
                <h1 class="wlcm">iPhone</h1>
            </div>
        </div>
        <div class="container2">
            <div class="mob">
                <div class="apple">
                    <img src="/static/images/iPhone-16-Pro-11.jpg" alt="samsung a06" width="200px" height="200px">
                    <div class="info">
                        <p>iPhone 16 Pro</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="apple">
                    <img src="/static/images/iPhone-15-10.jpg" alt="samsung a16" width="200px" height="200px">
                    <div class="info">
                        <p>iPhone 15 Pro</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="apple">
                    <img src="/static/images/iPhone-14 Pro.jpg" alt="samsung a16" width="200px" height="200px">
                    <div class="info">
                        <p>iPhone 14 Pro</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="more">
                    <a href="/apple/phone">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="home22" id="home22">
            <div class="wlcm-container">
                <h1 class="wlcm">iPads</h1>
            </div>
        </div>
        <div class="container2">
            <div class="mob">
                <div class="apple">
                    <img src="/static/images/tablet/Apple iPad Air 2022.jpg" alt="samsung a06" width="200px" height="200px">
                    <div class="info">
                        <p>Apple iPad Air 2022</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="apple">
                    <img src="/static/images/tablet/Apple iPad Air 2024.jpg" alt="samsung a16" width="200px" height="200px">
                    <div class="info">
                        <p>Apple iPad Air 2024</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="apple">
                    <img src="/static/images/tablet/Apple iPad Pro 2024.jpg" alt="samsung a16" width="200px" height="200px">
                    <div class="info">
                        <p>Apple iPad Pro 2024</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="more">
                    <a href="/apple/tablet">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="home23" id="home23">
            <div class="wlcm-container">
                <h1 class="wlcm">Macbooks</h1>
            </div>
        </div>
        <div class="container2">
            <div class="mob imac">
                <div class="apple notebook" id="imac14">
                    <img src="/static/images/notebook/Apple MacBook Pro 14 (M4 10C CPU, 10C GPU, 2024) 24 ГБ, 1 ТБ SSD 1.jpg" alt="apple notebook" width="230px" height="160px">
                    <div class="info">
                        <p>Apple MacBook Pro 14</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="apple notebook" id="imac15">
                    <img src="/static/images/notebook/Apple MacBook Pro 14 (M4 Max 14C CPU, 32C GPU, 2024) 36 ГБ, 1 ТБ SSD 1.jpg" alt="apple notebook" width="230px" height="160px">
                    <div class="info">
                        <p>Apple MacBook Pro 15</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="apple notebook" id="imac16">
                    <img src="/static/images/notebook/Apple MacBook Pro 16 (M4 Max 16C CPU, 40C GPU, 2024) 64 ГБ, 2 ТБ SSD 1.jpg" alt="apple notebook" width="230px" height="160px">
                    <div class="info">
                        <p>Apple MacBook Pro 16</p>
                        <span class="more">more</span>
                    </div>
                </div>
                <div class="more">
                    <a href="/apple/notebook">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cm category_samsung_mobile" id="category_samsung_mobile">
        <div class="mob category">
            <div class="samsungimg">
                <h1 class="wlcm">{{ context.message }}</h1>
            </div>
            {% if context.products %} {% for product in context.products %}
            <div class="samsung">
                <div class="phone-compact" data-phone-id="{{ product.id }}">
                    <img src="{{ product.img_url if product.img_url else url_for('static', filename='images/placeholder.webp') }}" alt="{{ product.name }}">
                    <div class="like">&#9829;</div>
                    <div class="info">
                        <p>{{ product.name }}</p>
                        <p>price: {{ product.price }}$</p>
                        <span class="more js-more-toggle">more</span>
                    </div>
                </div>
                <div class="characters js-detailed-info">
                    <div class="charact">
                        <img src="{{ product.img_url if product.img_url else url_for('static', filename='images/placeholder.webp') }}" alt="{{ product.name }}">
                        <div class="info">
                            <p>{{ product.name }}</p>
                            <p>price: {{ product.price }}$</p>
                        </div>
                        <div class="opisanie">
                            <p class="hidden-text">{{ product.description }}</p>
                            <button class="toggle-button">Ещё</button>
                        </div>
                        <div class="infomodel">
                            <span> Процессор:</span>
                            <p>{{ product.cpu }}</p>
                            <span>Емкость аккумулятора:</span>
                            <p>{{ product.battery }} мАч</p>
                            <span>Память ОЗУ:</span>
                            <p>{{ product.ram }} GB</p>
                            <span>Память ROM:</span>
                            <p>{{ product.rom }} GB</p>
                            <span>Дисплей:</span>
                            <p>{{ product.display }}</p>
                            <span>Камера:</span>
                            <p>{{ product.camera }}</p>
                            <span>Количество:</span>
                            <p>{{ product.storage }} шт.</p>
                        </div>
                        <div class="more js-hide-toggle">hide</div>
                        <div class="more add-to-basket">add to basket</div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <p>Нет продуктов Samsung в наличии.</p>
            {% endif %}
        </div>
    </div>


    </div>
    <div class="cm category_samsung_tablet" id="category_samsung_tablet">
        <div class="mob category">
            <p>Страничка в разработке</p>
        </div>
    </div>
    <div class="cm category_samsung_notebook" id="category_samsung_notebook">
        <div class="mob category">
            <p>Страничка в разработке</p>
        </div>
    </div>
    <div class="cm category_apple_mobile" id="category_apple_mobile">
        <div class="mob category">
            <p>Страничка в разработке</p>
        </div>
    </div>
    <div class="cm category_apple_tablet" id="category_apple_tablet">
        <div class="mob category">
            <p>Страничка в разработке</p>
        </div>
    </div>
    <div class="cm category_apple_notebook" id="category_apple_notebook">
        <div class="mob category">
            <p>Страничка в разработке</p>
        </div>
    </div>

    <button id="scrollToTop" title="Наверх">↑</button>
    <footer>
        <div class="end">
            <nav class="navsa">
                <span>samsung</span>
                <a href="#">News</a>
                <a href="/samsung/phone/?page=1">Phones</a>
                <a href="/samsung/tablet">Tablets</a>
                <a href="/samsung/notebook">Computers</a>
            </nav>
            <div class="nava">
                <p>
                    © 2025 All Rights Reserved
                </p>
                <a href="/">Обратная связь</a>
                <p><span>{{context.city}}</span></p>
                <p> <span>{{context.country}}</span></p>
            </div>
            <nav class="navsa">
                <span>apple</span>
                <a href="#">News</a>
                <a href="/apple/phone">Phones</a>
                <a href="/apple/tablet">Tablets</a>
                <a href="/apple/notebook">Computers</a>
            </nav>
        </div>
    </footer>
    <div id="username" style="display: none;">{{context.username}}</div>
    <div id="message">{{context.message}}</div>
    <div id="page">{{context.page}}</div>
</body>
<script src="/static/js/script.js"></script>
<script src="/static/js/menu.js"></script>


</html>